{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
              </div>
        </div>
    </div>
</div>

  

<div class="container">
    <div class="row">
       <div class="col-12">
        <div class="slider">
            <div class="owl-carousel owl-theme" data-owl-dots="1" data-owl-margin="20" data-owl-items="4" data-owl-nav="0" data-owl-loop="1">
               <div class="item">
                <div class="card">
                    <img class="card-img-top" src="images/download.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
               </div>


               <div class="item">
                <div class="card">
                    <img class="card-img-top" src="images/download.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
               </div>


               <div class="item">
                <div class="card">
                    <img class="card-img-top" src="images/download.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
               </div>


               <div class="item">
                <div class="card">
                    <img class="card-img-top" src="images/download.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
               </div>


               <div class="item">
                <div class="card">
                    <img class="card-img-top" src="images/download.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
               </div>


               
            </div>
            
        </div>
       </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="image-pop">
                <a href="images/bird.jpg" class="ts-zoom popup-image">
                    <img class="w-100" src="images/bird.jpg" alt="">
                </a>
            
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="image-pop">
                <a href="images/bird.jpg" class="ts-zoom popup-image">
                    <img class="w-100" src="images/bird.jpg" alt="">
                </a>
            
                
            </div>
        </div>


    </div>
    
</div>

<br>

<div class="col-12 text-center">
    <div>
        <a href="https://www.youtube.com/watch?v=1gvOfyGhysk" class="video-popup btn btn-primary">Youtube Video  <i class="fab fa-youtube"></i> <i class="fas fa-adjust"></i></a>
    </div>
</div>
<br>
{% endblock %}



